.character06 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 500%;
    z-index: 5;
    background-color: $black-primary;

    .custom-shape-divider-bottom-1708011579 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-bottom-1708011579 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 235px;
    }

    .custom-shape-divider-bottom-1708011579 .shape-fill {
        fill: $white-primary;
    }

    .button-discover {
        background-color: $black-primary;
    }
    .container-image-profil {
        position: absolute;
        bottom: -600px;
    }
    .container-contact {
        position: absolute;
        top: 3rem;
        left: 70%;
        color: $white-primary;
        width: 20rem;
        font-size: 3rem;
        .list-contact {
            transition: all 0.5s ease;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;
            left: 340px;
        }
        li {
            a {
                text-decoration: none;
                color: $white-primary;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3rem;
                margin: -2rem;
                font-family: $secondary-font;
            }
        }
        .name {
            text-align: center;
            font-family: $secondary-font;
            mix-blend-mode: difference;
            position: relative;
            bottom: -340px;
        }
    }
    .list-item {
        cursor: pointer;
        transition: box-shadow 0.5s ease-in-out;
    }
    .list-item:hover {
        text-transform: uppercase;
    }
    footer {
        color: $black-primary;
        position: absolute;
        bottom: 0;
        font-family: $secondary-font;
    }
    @media only screen and (max-width: $telefono) {
        .container-contact {
            .list-contact {
                left: 20% !important;
            }
        }
    }

    @media only screen and (max-width: $desktop) {
        .background-char06 {
            height: 100vh;
        }
        .container-image-profil {
            img {
                position: relative;
                right: 40%;
            }
        }
        .container-contact {
            color: $white-primary;
            text-shadow: 0 0 5px rgba(0, 0, 0, 1);
            .list-contact {
                left: 60%;
            }
        }
    }
}
