.character05 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 400%;
    z-index: 0;
    color: $white-primary;
    figure {
        margin: 0;
        overflow: hidden;
    }

    .slide {
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
        visibility: hidden;
        transition: all 0.5s ease;

        &__outer,
        &__inner {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
        }

        &__container {
            position: relative;
            max-width: 1400px;
            width: 100vw;
            margin: 0 auto;
            height: 90vh;
            margin-bottom: 10vh;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            padding: 0 1rem;
        }

        &__heading {
            --width: 200;
            display: block;
            text-align: left;
            font-size: clamp(3rem, 15vw, 5rem);
            font-weight: 900;
            font-variation-settings: "wdth" var(--width);
            margin: 0;
            padding: 0;
            color: $white-primary;
            z-index: 5;
            grid-area: 1 / 2 / 5 / 10;
            align-self: center;
        }

        &__img-cont {
            margin-top: 4rem;
            grid-area: 1 / 1 / 11 / 3;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .slide:nth-of-type(1) {
        visibility: visible;
        .slide__content {
            background: linear-gradient(
                    to right,
                    rgb(0 0 0 / 0.5),
                    rgb(0 0 0 / 0)
                ),
                url("/assets/character5/background01.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

    }

    .slide:nth-of-type(2) {
        .slide__content {
            background: linear-gradient(
                    to right,
                    rgb(0 0 0 / 0.5),
                    rgb(0 0 0 / 0)
                ),
                url("/assets/character5/background02.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .slide:nth-of-type(3) {
        .slide__content {
            background: linear-gradient(
                    to right,
                    rgb(0 0 0 / 0.5),
                    rgb(0 0 0 / 0)
                ),
                url("/assets/character5/background03.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .slide:nth-of-type(4) {
        .slide__content {
            background: linear-gradient(
                    to right,
                    rgb(0 0 0 / 0.5),
                    rgb(0 0 0 / 0)
                ),
                url("/assets/character5/background04.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        transition: all 0.5s ease;


        &__content {
            max-width: 1400px;
            width: 100vw;
            margin: 0 auto;
            padding: 0 1rem;
            height: 90vh;
            margin-bottom: 10vh;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        &__img-cont {
            position: relative;
            overflow: hidden;
            margin: 0;
            grid-area: 2 / 8 / 11 / 10;
            border-radius: 25px;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        &__count {
            grid-area: 3 / 10 / 4 / 10;
            font-size: clamp(3rem, 4vw, 15rem);
            margin: 0;
            padding: 0;
            text-align: right;
            border-bottom: 7px white solid;
        }
    }

    @media screen and (min-width: 900px) {
        .overlay__content,
        .slide__container {
            padding: 0 3rem;
            margin-top: 10vh;
            height: 80vh;
        }

        .overlay__img-cont {
            grid-area: 2 / 8 / 11 / 10;
            border-radius: 25px;
            box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);

        }

        .overlay__count {
            grid-area: 3 / 10 / 4 / 11;
        }

        .slide__img-cont {
            margin-top: 0;
            grid-area: 3 / 2 / 11 / 4;
            transform: scale(1.4) translateX(-70px);
            
        }

        .slide__heading {
            grid-area: 1 / 4 / 4 / 8;
            transform: translateY(-40px);
            text-align: center;
        }
    }
}
