.character01 {
    z-index: 0;
    // Antiguo Fondo -Pendiente de Eliminar
    // .container-background-character {
    //     transform: translateY(-400px) translateZ(-1000px);
    //     filter: brightness(1.7) blur(10px);
    //     width: 100%;
    //     .background-character{
    //     //     width: 2500px;
    //         animation: background-mov 10s linear infinite;
    //     }
    // }
    .container-background-character {
        position: fixed;
        top: 0;
        width: 160%;
        height: 600vh;
        transform: translateY(-200px) translateZ(-1000px);
        filter: brightness(1.7) blur(10px);
        overflow: hidden;

        .background-character {
            width: 100%;
            animation: background-mov 10s linear infinite;
        }
    }
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }
    .container-character-title {
        display: flex;
        justify-content: center;
        transform: translateZ(100px);
        .character-name {
            position: absolute;
            -webkit-text-stroke: 1px $blue-primary;
            z-index: 10;
            font-family: $secondary-font;
            color: $white-primary;
            filter: drop-shadow(0px 0px 5px $blue-primary);
        }

    }
    .container-character-image {
        transform: translateZ(80px);
        .character-image {
            position: absolute;
            height: 30rem;
            left: 50%;
            bottom: 0;
            filter: blur(1px);
            z-index: 0;
        }
    }
    .container-vector-plano-01 {
        transform: translateZ(-100px);
    }
    .vector-plano-01 {
        position: absolute;
        width: 180%;
        top: 25%;
        left: -40%;
        filter: blur(50px);
        z-index: -10;
    }
    .container-vector-plano-02 {
        transform: translateZ(30px);

        .vector-plano-02_1,
        .vector-plano-02_2 {
            position: absolute;
            height: 20rem;
            padding: 2rem;
            opacity: 0;
            filter: blur(50px);

            &.vector-plano-02_1 {
                right: 0;
            }

            &.vector-plano-02_2 {
                left: 0;
            }
        }
    }


    .container-vector-plano-03 {
        transform: translateZ(200px);
    }
    .vector-plano-03 {
        position: absolute;
        rotate: 90deg;
        width: 50rem;
        top: -1500px;
        z-index: 5;
    }
    .container-vector-plano-04 {
        transform: translateZ(50px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        z-index: 1000;
        
        .vector-plano-04 {
            width: 5rem;
            scale: 0.1;
        }
    }
    @keyframes background-mov {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(50px);
        }
      }      

}
